{
	"extends": [
		"plugin:vitest/recommended"
	],
	"rules": {
		"vitest/expect-expect": [
			"error",
			{
				"customExpressions": [
					"expect.*"
				]
			}
		],
		"vitest/unbound-method": "off"
	}
}